%h1= t('.title')
.flex
  .panel= render 'profit_and_loss/cost_entries/cost_entries'
  .panel= render 'profit_and_loss/profit_entries/profit_entries'

.panel= render 'profit_and_loss/reports/reports'

