<!DOCTYPE html>
<html>
<head>
  <title>ProfitAndLoss</title>
  <%= stylesheet_link_tag    "profit_and_loss/application", media: "all" %>
  <%= javascript_include_tag "profit_and_loss/application" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
