body{
  background-color: beige;
}

.flex{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
}

.red{
  color: red;
}

.green{
  color: green;
}

.inline-block{
  display: inline-block;
}

.panel{
  padding: 30px;
  margin: 30px;
  border-radius: 15px;
  background-color: white;
}
