form{
  max-width: 700px;
  > .input{
    padding-bottom: 20px;
    label{
      display: block;

    }
    input{

    }
  }
  > .input.text{
    textarea{
      display: block;
      width: 100%;
      min-height: 200px;
    }
  }

  > input[type='submit']{
    text-align: center;
  }
}